.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61dafb;
  min-height: 20vh;
  max-height: 40vh;
  display: flex; /* Defines a Flexbox for other props (shrink and grow components to fit screen) [flex, grid, block]. */
  flex-direction: column; /* This determines how "align" and "justify" work (which axis they stretch). Perhaps MOST important before other props. */
  align-items: end; /* Alignment of items on cross axis.  */
  /* align-content: center; /*-- Space between and around content items along cross axis. */
  /*justify-content: center; */ /* -- Space between and around content items along main axis (flex-direction). */
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky; /* this is how compoents stick to top of page */ 
  top: 0; 
  border-bottom: solid black; 
  /* background-attachment: fixed;  --is just the actual background css, not actual components and content*/
}

.App-header-top {
  color: #000000; 
  flex-direction: column;
  align-self: center;
  border-radius: 25px; 
}

.App-header-bottom {
  background-color: #b1b1b1;
  flex-direction: row;
  text-align: right;
  border-radius: 25px;
  /* padding: 25px; */
  margin: 15px; 
}
.Page-link {
  background-color: #d62c2c;
  margin: 10px; 
  padding: 0px 10px; /* vertical padding, horizontal padding */
}

.Page-link:hover {
  background-color: #686262; 
}

.App-link {
  color: #61dafb;
}

.App-card {
  background-color: #cae5ff;
  padding: 15px; /* Between content and border */
  margin: 30px; /* Between element and other elements */
  border: 3px; /* Border thickness */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
