.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky; /* this is how compoents stick to top of page */ 
  top: 0; 
  /* background-attachment: fixed;  --is just the actual background css, not actual components and content*/
}

.App-header-top {
  background-color: #bca9a9; 
}

.App-header-bottom {
  background-color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.App-card {
  background-color: #cae5ff;
  padding: 15px; /* Between content and border */
  margin: 30px; /* Between element and other elements */
  border: 3px; /* Border thickness */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
